ul {
    padding: 0px;
    margin: 0px;
}

li.employee {
    list-style-type: none;
    border-radius: 15px;
    margin: 5px;
    padding: 25px 10px 25px 15px;
    background-color: bisque;
    font-size: 22px;
    font-weight: bold;
}

a.links {
    
}