@page "/details/address/{id:int}"
@using DemoProj.Shared.Models
@inject NavigationManager NavManager
@inject HttpClient Http
@inject IAddressService AddressService


<div class="page">
    <div class="local-header">
        <h3>Details of Address (Id : @id)</h3>
        <div class="actions">
            <button @onclick="edit"><img src="edit.png" /></button>
            <button @onclick="delete"><img src="delete-user.png" /></button>
        </div>
    </div>
    <div class="address-details">
        <h3>Address Details</h3>
        <p>@address!.street,</p>
        <p>@address!.state,</p>
        <p>@address!.country</p>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private AddressDB? address = new();

    protected override async Task OnInitializedAsync()
    {
        address = await AddressService.GetAddressById(id);
    }

    protected async Task delete()
    {
        await AddressService.DeleteAddress(address!.id);
        NavManager.NavigateTo("/allemployees", replace:true);
    }

    protected void edit()
    {
        NavManager.NavigateTo(@$"/edit/address/{id}", replace:true);
    }

}