@page "/details/department/{id:int}"
@using DemoProj.Shared.Models
@inject NavigationManager NavManager
@inject HttpClient Http
@inject IDepartmentService DepartmentService
@inject IAddressService AddressService

<div class="page">
    <div class="local-header">
        <h3>Details of Department (Id : @id)</h3>
        <div class="actions">
            <button @onclick="edit"><img src="edit.png" /></button>
            <button @onclick="delete"><img src="delete-user.png" /></button>
        </div>
    </div>
    <div class="personal-details">
        <h3>@department!.dept_name Department</h3>
        <p><img src="phone.svg" />@department!.dept_phone</p>
        <h3>@department!.company_name</h3>
        <p><img src="phone.svg" />@department!.company_phone</p>
        <div class="address">
            <img src="marker.svg" />
            <p>@address!.street,</p>
            <p>@address!.state,</p>
            <p>@address!.country</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int id { get; set; }

    private DepartmentDB? department = new();

    private AddressDB? address = new();

    protected override async Task OnInitializedAsync()
    {
        department = await DepartmentService.GetDepartmentById(id);
        address = await AddressService.GetAddressById(department!.address_id);
    }

    protected async Task delete()
    {
        await DepartmentService.DeleteDepartment(id);
        NavManager.NavigateTo("department/", replace:true);
    }

    protected void edit()
    {
        NavManager.NavigateTo(@$"edit/department/{id}", replace:true);
    }
}