@inherits LayoutComponentBase

<div class="page">
    <div>
        <NewNavMenu/>
    </div>

    <div style="background-color: #0B0B0B; height: 100vh; width: 100vw;">
        <div class="content">
            @Body
        </div>
    </div>
</div>