<div>
    <div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DemoProj</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" style="display: flex;" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="allemployees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="alldepartments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Departments
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="alladdresses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Addresses
            </NavLink>
        </div>
    </nav>
</div>

</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}